/***********************************************************************************
  OBJECT: FLAG
 ***********************************************************************************

  Very similar to the media object, however it give us control over the vertical
  alignments of the text and image.

 **********************************************************************************/

@mixin o-flag {
  display: table;
  width: 100%;
}


  @mixin o-flag__fig {

    display: table-cell;
    vertical-align: middle;
    padding-right: $base-spacing-unit;

    > img {
      display: block;
      max-width: none;
    }

  }


  @mixin o-flag__body {

    display: table-cell;
    vertical-align: middle;
    width: 100%;

    > :last-child {
      margin-bottom: 0;
    }

  }


@mixin o-flag--small($o-flag__fig: '.o-flag__fig', $o-flag--rev: '.o-flag--rev') {

  > #{$o-flag__fig} {
    padding-right: $base-spacing-unit / 2;
  }

  @if ( map-deep-get( $objects, flag rev ) or $o-flag--rev ) {
    &#{$o-flag__rev} {
      > #{$o-flag__fig} {
        padding-right: 0;
        padding-left: $base-spacing-unit / 2;
      }
    }
  }

}


@mixin o-flag--large($o-flag__fig: '.o-flag__fig', $o-flag--rev: '.o-flag--rev') {

  > #{$o-flag__fig} {
    padding-right: $base-spacing-unit * 2;
  }

  @if ( map-deep-get( $objects, flag rev ) or $o-flag--rev ) {
    &#{$o-flag__rev} {
      > #{$o-flag__fig} {
        padding-right: 0;
        padding-left: $base-spacing-unit * 2;
      }
    }
  }

}


@mixin o-flag--rev($o-flag__fig: '.o-flag__fig', $o-flag__body: '.o-flag__body') {

  direction:rtl;

  > #{$o-flag__fig},
  > #{$o-flag__body} {
    direction: ltr;
  }

  > #{$o-flag__fig} {
    padding-right: 0;
    padding-left: $base-spacing-unit;
  }

}


@mixin o-flag--flush($o-flag__fig: '.o-flag__fig') {

  > #{$o-flag__fig} {
    padding-right: 0;
    padding-left: 0;
  }

}


@mixin o-flag--top($o-flag__fig: '.o-flag__fig', $o-flag__body: '.o-flag__body') {

  #{$o-flag__fig},
  #{$o-flag__body} {
    vertical-align: top;
  }

}


@mixin o-flag--bottom($o-flag__fig: '.o-flag__fig', $o-flag__body: '.o-flag__body') {

  #{$o-flag__fig},
  #{$o-flag__body} {
    vertical-align: bottom;
  }

}


@if ( map-deep-get( $objects, flag regular ) ) {

  .o-flag { @include o-flag; }

    .o-flag__fig { @include o-flag__fig; }

    .o-flag__body { @include o-flag__body; }

}


@if ( map-deep-get( $objects, flag small ) ) {

  .o-flag--small { @include o-flag--small; }

}


@if ( map-deep-get( $objects, flag large ) ) {

  .o-flag--large { @include o-flag--large; }

}


@if ( map-deep-get( $objects, flag rev ) ) {

  .o-flag--rev { @include o-flag--rev; }

}


@if ( map-deep-get( $objects, flag flush ) ) {

  .o-flag--flush { @include o-flag--flush; }

}


@if ( map-deep-get( $objects, flag top ) ) {

  .o-flag--top { @include o-flag--top; }

}


@if ( map-deep-get( $objects, flag bottom ) ) {

  .o-flag--bottom { @include o-flag--bottom; }

}