/***********************************************************************************
  OBJECT: FLYOUT
 ***********************************************************************************

  Content that flys out of a parent when said parent is hovered. They typically
  appear bottom-left of the parent.

 **********************************************************************************/

@mixin o-flyout($o-flyout__content: '.o-flyout__content') {

  position: relative;

  &:hover {
    > #{$o-flyout__content} {
      left: 0;
    }
  }

}


  @mixin o-flyout__content {
    position: absolute;
    top: 100%;
    left: -99999px;
  }


@mixin o-flyout--alt($o-flyout__content: '.o-flyout__content') {

  &:hover {
    #{$o-flyout__content} {
      top: 0;
      left: 100%;
    }
  }

}


@if ( map-deep-get( $objects, flyout regular ) ) {

  .o-flyout { @include o-flyout; }

    .o-flyout__content { @include o-flyout__content; }

}


@if ( map-deep-get( $objects, flyout alt ) ) {

  .o-flyout--alt { @include o-flyout--alt; }

}