/***********************************************************************************
  OBJECT: GRID
 ***********************************************************************************

  Grid system.

 **********************************************************************************/

@mixin o-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -$base-spacing-unit;
  margin-bottom: -$base-spacing-unit;
}


  @mixin o-grid__item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-left: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
    vertical-align: top;
    width: 100%;
  }


@mixin o-grid--small ( $o-grid__item: '.o-grid__item' ) {

  margin-left: -($base-spacing-unit / 2);
  margin-bottom: -($base-spacing-unit / 2);

  > #{$o-grid__item} {
    padding-left: ($base-spacing-unit / 2);
    padding-bottom: ($base-spacing-unit / 2);
  }

}


@mixin o-grid--large ( $o-grid__item: '.o-grid__item' ) {

  margin-left: -($base-spacing-unit * 2);
  margin-bottom: -($base-spacing-unit * 2);

  > #{$o-grid__item} {
    padding-left: ($base-spacing-unit * 2);
    padding-bottom: ($base-spacing-unit * 2);
  }

}


@mixin o-grid--rev ( $o-grid__item: '.o-grid__item' ) {

  direction: rtl;
  text-align: left;

  > #{$o-grid__item} {
    direction: ltr;
    text-align: left;
  }

}

@mixin o-grid--flush ( $o-grid__item: '.o-grid__item' ) {

  margin-left: 0;
  margin-bottom: 0;

  > #{$o-grid__item} {
    padding-left: 0;
    padding-bottom: 0;
  }

}


@mixin o-grid--middle ( $o-grid__item: '.o-grid__item' ) {
  > #{$o-grid__item} {
    vertical-align: middle;
  }
}


@mixin o-grid--bottom ( $o-grid__item: '.o-grid__item' ) {
  > #{$o-grid__item} {
    vertical-align: bottom;
  }
}


@mixin o-grid--right ( $o-grid__item: '.o-grid__item' ) {

  text-align: right;

  > #{$o-grid__item} {
    text-align: left;
  }

}


@mixin o-grid--center ( $o-grid__item: '.o-grid__item' ) {

  text-align: center;

  > #{$o-grid__item} {
    text-align: left;
  }

}


@if ( map-deep-get( $objects, grid regular ) ) {

  .o-grid { @include o-grid; }

    .o-grid__item { @include o-grid__item; }

}


@if ( map-deep-get( $objects, grid small ) ) {

  .o-grid--small { @include o-grid--small; }

}


@if ( map-deep-get( $objects, grid large ) ) {

  .o-grid--large { @include o-grid--large; }

}


@if ( map-deep-get( $objects, grid rev ) ) {

  .o-grid--rev { @include o-grid--rev; }

}


@if ( map-deep-get( $objects, grid flush ) ) {

  .o-grid--flush { @include o-grid--flush; }

}


@if ( map-deep-get( $objects, grid middle ) ) {

  .o-grid--middle { @include o-grid--middle; }

}


@if ( map-deep-get( $objects, grid bottom ) ) {

  .o-grid--bottom { @include o-grid--bottom; }

}


@if ( map-deep-get( $objects, grid right ) ) {

  .o-grid--right { @include o-grid--right; }

}


@if ( map-deep-get( $objects, grid center ) ) {

  .o-grid--center { @include o-grid--center; }

}