/***********************************************************************************
  OBJECT: MEDIA
 ***********************************************************************************

  Place image and text-like content side-by-side.

 **********************************************************************************/

@mixin o-media {

  display: block;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

}


  @mixin o-media__fig {

    margin-right: $base-spacing-unit;
    float: left;

    > img {
      display: block;
    }

  }


  @mixin o-media__body {

    overflow: hidden;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }


@mixin o-media--small ( $o-media__fig: '.o-media__fig', $o-media--rev: '.o-media--rev' ) {

  > #{$o-media__fig} {
    margin-right: ($base-spacing-unit / 2);
  }

  @if ( map-deep-get( $objects, media rev ) or $o-media--rev ) {
    &#{$o-media--rev} {

      > #{$o-media__fig} {
        margin-right: 0;
        margin-left: ($base-spacing-unit / 2);
      }
    }
  }

}


@mixin o-media--large ( $o-media__fig: '.o-media__fig', $o-media--rev: '.o-media--rev' ) {

  > #{$o-media__fig} {
    margin-right: ($base-spacing-unit * 2);
  }

  @if ( map-deep-get( $objects, media rev ) or $o-media--rev ) {
    &#{$o-media--rev} {

      > #{$o-media__fig} {
        margin-right: 0;
        margin-left: ($base-spacing-unit * 2);
      }
    }
  }

}


@mixin o-media--rev($o-media__fig: '.o-media__fig') {
  > #{$o-media__fig} {
    margin-right: 0;
    margin-left: $base-spacing-unit;
    float: right;
  }
}


@mixin o-media--flush($o-media__fig: '.o-media__fig') {
  > #{$o-media__fig} {
    margin-right: 0;
    margin-left: 0;
  }
}


@if ( map-deep-get( $objects, media regular ) ) {

  .o-media { @include o-media; }

    .o-media__fig { @include o-media__fig; }

    .o-media__body { @include o-media__body; }

}


@if ( map-deep-get( $objects, media small ) ) {

  .o-media--small { @include o-media--small; }

}


@if ( map-deep-get( $objects, media large ) ) {

  .o-media--large { @include o-media--large; }

}


@if ( map-deep-get( $objects, media rev ) ) {

  .o-media--rev { @include o-media--rev; }

}


@if ( map-deep-get( $objects, media flush ) ) {

  .o-media--flush { @include o-media--flush; }

}