/***********************************************************************************
  OBJECT: NAV
 ***********************************************************************************

  Turn a list into a horizontal row of list items, mostly for use in navigation
  menus.

 **********************************************************************************/

@mixin o-nav {

  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }

}


@if ( map-get( $objects, nav ) ) {

  .o-nav { @include o-nav; }

}