/***********************************************************************************
  IMAGES
 **********************************************************************************/

img {
  max-width: 100%;
}

img[width],
img[height] {
  max-width: none;
}

.img--right,
.img--left,
.img--center {
  margin-bottom: $base-spacing-unit;
}

.img--right {
  margin-left: $base-spacing-unit;
  float:right;
}

.img--left {
  margin-right: $base-spacing-unit;
  float:left;
}

.img--center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

figure > img {
  display: block;
}