/***********************************************************************************
  MAIN
 **********************************************************************************/

html {
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-text-color;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}