/***********************************************************************************
  TABLES
 **********************************************************************************/

table {
  width:100%;
}

th,
td {
  padding:$base-spacing-unit / 4;
  text-align:left;
}