/***********************************************************************************
  FUNCTION: MULTI MAP GET
 ***********************************************************************************

  Like `map-get` but can handle multi-dimensional maps.

  Usage:

  $colors: (
    element: (
      primary: red
    )
  );

  .element {
    color:multi-map-get( $colors, element primary );
  }

 **********************************************************************************/

@function multi-map-get($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1 and $value) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return multi-map-get($value, $rest)
  } @else {
    @return $value;
  }
}