/***********************************************************************************
  HELPERS
 ***********************************************************************************

  Helpers which can be used via a normal HTML class, Sass silent class, and / or
  mixin (enable use inside of media queries), usage:

  <div class="helper"></div>

  .element {
    @extend %helper;

    @media (max-width:500px) {
      @include helper;
    }
  }

 **********************************************************************************/

/**
  Accessible alternative to `display:none`.
 */
@mixin accessibility {
  border:0 !important;
  clip:rect(0 0 0 0) !important;
  height:1px !important;
  margin:-1px !important;
  overflow:hidden !important;
  padding:0 !important;
  position:absolute !important;
  width:1px !important;
}
.accessibility { @include accessibility; }

/**
  Disable pointer events.
 */
@mixin inaccessible {
  pointer-events:none;
}
.inaccessible { @include inaccessible; }

/**
  Clearfix.
 */
@mixin cf {
  &:after {
    content:'';
    display:table;
    clear:both;
  }
}
.cf { @include cf; }

/**
  Image replacement.
 */
@mixin ir {
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}
.ir { @include ir; }