/***********************************************************************************
  SPACING
 ***********************************************************************************

  Margin and padding helper classes, usage:

  <div class="m"></div>

  .element {
    @extend .m;

    @media (max-width:500px) {
      @include m;
    }
  }

 **********************************************************************************/

@mixin m       { margin:           $base-spacing-unit; }
@mixin mt      { margin-top:       $base-spacing-unit; }
@mixin mr      { margin-right:     $base-spacing-unit; }
@mixin mb      { margin-bottom:    $base-spacing-unit; }
@mixin ml      { margin-left:      $base-spacing-unit; }
@mixin mh      { margin-right:     $base-spacing-unit; margin-left:      $base-spacing-unit; }
@mixin mv      { margin-top:       $base-spacing-unit; margin-bottom:    $base-spacing-unit; }

@mixin m--     { margin:           ($base-spacing-unit / 4); }
@mixin mt--    { margin-top:       ($base-spacing-unit / 4); }
@mixin mr--    { margin-right:     ($base-spacing-unit / 4); }
@mixin mb--    { margin-bottom:    ($base-spacing-unit / 4); }
@mixin ml--    { margin-left:      ($base-spacing-unit / 4); }
@mixin mh--    { margin-right:     ($base-spacing-unit / 4); margin-left:     ($base-spacing-unit / 4); }
@mixin mv--    { margin-top:       ($base-spacing-unit / 4); margin-bottom:   ($base-spacing-unit / 4); }

@mixin m-      { margin:           ($base-spacing-unit / 2); }
@mixin mt-     { margin-top:       ($base-spacing-unit / 2); }
@mixin mr-     { margin-right:     ($base-spacing-unit / 2); }
@mixin mb-     { margin-bottom:    ($base-spacing-unit / 2); }
@mixin ml-     { margin-left:      ($base-spacing-unit / 2); }
@mixin mh-     { margin-right:     ($base-spacing-unit / 2); margin-left:   ($base-spacing-unit / 2); }
@mixin mv-     { margin-top:       ($base-spacing-unit / 2); margin-bottom: ($base-spacing-unit / 2); }

@mixin m\+     { margin:           ($base-spacing-unit * 2); }
@mixin mt\+    { margin-top:       ($base-spacing-unit * 2); }
@mixin mr\+    { margin-right:     ($base-spacing-unit * 2); }
@mixin mb\+    { margin-bottom:    ($base-spacing-unit * 2); }
@mixin ml\+    { margin-left:      ($base-spacing-unit * 2); }
@mixin mh\+    { margin-right:     ($base-spacing-unit * 2); margin-left:      ($base-spacing-unit * 2); }
@mixin mv\+    { margin-top:       ($base-spacing-unit * 2); margin-bottom:    ($base-spacing-unit * 2); }

@mixin m\+\+   { margin:           ($base-spacing-unit * 4); }
@mixin mt\+\+  { margin-top:       ($base-spacing-unit * 4); }
@mixin mr\+\+  { margin-right:     ($base-spacing-unit * 4); }
@mixin mb\+\+  { margin-bottom:    ($base-spacing-unit * 4); }
@mixin ml\+\+  { margin-left:      ($base-spacing-unit * 4); }
@mixin mh\+\+  { margin-right:     ($base-spacing-unit * 4); margin-left:   ($base-spacing-unit * 4); }
@mixin mv\+\+  { margin-top:       ($base-spacing-unit * 4); margin-bottom: ($base-spacing-unit * 4); }

@mixin -m      { margin:           -$base-spacing-unit; }
@mixin -mt     { margin-top:       -$base-spacing-unit; }
@mixin -mr     { margin-right:     -$base-spacing-unit; }
@mixin -mb     { margin-bottom:    -$base-spacing-unit; }
@mixin -ml     { margin-left:      -$base-spacing-unit; }
@mixin -mh     { margin-right:     -$base-spacing-unit; margin-left:      -$base-spacing-unit; }
@mixin -mv     { margin-top:       -$base-spacing-unit; margin-bottom:    -$base-spacing-unit; }

@mixin -m--    { margin:           (-$base-spacing-unit / 4); }
@mixin -mt--   { margin-top:       (-$base-spacing-unit / 4); }
@mixin -mr--   { margin-right:     (-$base-spacing-unit / 4); }
@mixin -mb--   { margin-bottom:    (-$base-spacing-unit / 4); }
@mixin -ml--   { margin-left:      (-$base-spacing-unit / 4); }
@mixin -mh--   { margin-right:     (-$base-spacing-unit / 4); margin-left:     (-$base-spacing-unit / 4); }
@mixin -mv--   { margin-top:       (-$base-spacing-unit / 4); margin-bottom:   (-$base-spacing-unit / 4); }

@mixin -m-     { margin:           (-$base-spacing-unit / 2); }
@mixin -mt-    { margin-top:       (-$base-spacing-unit / 2); }
@mixin -mr-    { margin-right:     (-$base-spacing-unit / 2); }
@mixin -mb-    { margin-bottom:    (-$base-spacing-unit / 2); }
@mixin -ml-    { margin-left:      (-$base-spacing-unit / 2); }
@mixin -mh-    { margin-right:     (-$base-spacing-unit / 2); margin-left:   (-$base-spacing-unit / 2); }
@mixin -mv-    { margin-top:       (-$base-spacing-unit / 2); margin-bottom: (-$base-spacing-unit / 2); }

@mixin -m\+    { margin:           (-$base-spacing-unit * 2); }
@mixin -mt\+   { margin-top:       (-$base-spacing-unit * 2); }
@mixin -mr\+   { margin-right:     (-$base-spacing-unit * 2); }
@mixin -mb\+   { margin-bottom:    (-$base-spacing-unit * 2); }
@mixin -ml\+   { margin-left:      (-$base-spacing-unit * 2); }
@mixin -mh\+   { margin-right:     (-$base-spacing-unit * 2); margin-left:      (-$base-spacing-unit * 2); }
@mixin -mv\+   { margin-top:       (-$base-spacing-unit * 2); margin-bottom:    (-$base-spacing-unit * 2); }

@mixin -m\+\+  { margin:           (-$base-spacing-unit * 4); }
@mixin -mt\+\+ { margin-top:       (-$base-spacing-unit * 4); }
@mixin -mr\+\+ { margin-right:     (-$base-spacing-unit * 4); }
@mixin -mb\+\+ { margin-bottom:    (-$base-spacing-unit * 4); }
@mixin -ml\+\+ { margin-left:      (-$base-spacing-unit * 4); }
@mixin -mh\+\+ { margin-right:     (-$base-spacing-unit * 4); margin-left:   (-$base-spacing-unit * 4); }
@mixin -mv\+\+ { margin-top:       (-$base-spacing-unit * 4); margin-bottom: (-$base-spacing-unit * 4); }

@mixin m0      { margin:           0; }
@mixin mt0     { margin-top:       0; }
@mixin mr0     { margin-right:     0; }
@mixin mb0     { margin-bottom:    0; }
@mixin ml0     { margin-left:      0; }
@mixin mh0     { margin-right:     0; margin-left:      0; }
@mixin mv0     { margin-top:       0; margin-bottom:    0; }

@mixin p       { padding:           $base-spacing-unit; }
@mixin pt      { padding-top:       $base-spacing-unit; }
@mixin pr      { padding-right:     $base-spacing-unit; }
@mixin pb      { padding-bottom:    $base-spacing-unit; }
@mixin pl      { padding-left:      $base-spacing-unit; }
@mixin ph      { padding-right:     $base-spacing-unit; padding-left:      $base-spacing-unit; }
@mixin pv      { padding-top:       $base-spacing-unit; padding-bottom:    $base-spacing-unit; }

@mixin p--     { padding:           ($base-spacing-unit / 4); }
@mixin pt--    { padding-top:       ($base-spacing-unit / 4); }
@mixin pr--    { padding-right:     ($base-spacing-unit / 4); }
@mixin pb--    { padding-bottom:    ($base-spacing-unit / 4); }
@mixin pl--    { padding-left:      ($base-spacing-unit / 4); }
@mixin ph--    { padding-right:     ($base-spacing-unit / 4); padding-left:     ($base-spacing-unit / 4); }
@mixin pv--    { padding-top:       ($base-spacing-unit / 4); padding-bottom:   ($base-spacing-unit / 4); }

@mixin p-      { padding:           ($base-spacing-unit / 2); }
@mixin pt-     { padding-top:       ($base-spacing-unit / 2); }
@mixin pr-     { padding-right:     ($base-spacing-unit / 2); }
@mixin pb-     { padding-bottom:    ($base-spacing-unit / 2); }
@mixin pl-     { padding-left:      ($base-spacing-unit / 2); }
@mixin ph-     { padding-right:     ($base-spacing-unit / 2); padding-left:   ($base-spacing-unit / 2); }
@mixin pv-     { padding-top:       ($base-spacing-unit / 2); padding-bottom: ($base-spacing-unit / 2); }

@mixin p\+     { padding:           ($base-spacing-unit * 2); }
@mixin pt\+    { padding-top:       ($base-spacing-unit * 2); }
@mixin pr\+    { padding-right:     ($base-spacing-unit * 2); }
@mixin pb\+    { padding-bottom:    ($base-spacing-unit * 2); }
@mixin pl\+    { padding-left:      ($base-spacing-unit * 2); }
@mixin ph\+    { padding-right:     ($base-spacing-unit * 2); padding-left:      ($base-spacing-unit * 2); }
@mixin pv\+    { padding-top:       ($base-spacing-unit * 2); padding-bottom:    ($base-spacing-unit * 2); }

@mixin p\+\+   { padding:           ($base-spacing-unit * 4); }
@mixin pt\+\+  { padding-top:       ($base-spacing-unit * 4); }
@mixin pr\+\+  { padding-right:     ($base-spacing-unit * 4); }
@mixin pb\+\+  { padding-bottom:    ($base-spacing-unit * 4); }
@mixin pl\+\+  { padding-left:      ($base-spacing-unit * 4); }
@mixin ph\+\+  { padding-right:     ($base-spacing-unit * 4); padding-left:   ($base-spacing-unit * 4); }
@mixin pv\+\+  { padding-top:       ($base-spacing-unit * 4); padding-bottom: ($base-spacing-unit * 4); }

@mixin p0      { padding:           0; }
@mixin pt0     { padding-top:       0; }
@mixin pr0     { padding-right:     0; }
@mixin pb0     { padding-bottom:    0; }
@mixin pl0     { padding-left:      0; }
@mixin ph0     { padding-right:     0; padding-left:      0; }
@mixin pv0     { padding-top:       0; padding-bottom:    0; }

@if multi-map-get( $spacing, margins positive regular ) == true {
  .m { @include m };
  .mt { @include mt };
  .mr { @include mr };
  .mb { @include mb };
  .ml { @include ml };
  .mh { @include mh };
  .mv { @include mv };
}

@if multi-map-get( $spacing, margins positive tiny ) == true {
  .m-- { @include m-- };
  .mt-- { @include mt-- };
  .mr-- { @include mr-- };
  .mb-- { @include mb-- };
  .ml-- { @include ml-- };
  .mh-- { @include mh-- };
  .mv-- { @include mv-- };
}

@if multi-map-get( $spacing, margins positive small ) == true {
  .m- { @include m- };
  .mt- { @include mt- };
  .mr- { @include mr- };
  .mb- { @include mb- };
  .ml- { @include ml- };
  .mh- { @include mh- };
  .mv- { @include mv- };
}

@if multi-map-get( $spacing, margins positive large ) == true {
  .m\+ { @include m\+ };
  .mt\+ { @include mt\+ };
  .mr\+ { @include mr\+ };
  .mb\+ { @include mb\+ };
  .ml\+ { @include ml\+ };
  .mh\+ { @include mh\+ };
  .mv\+ { @include mv\+ };
}

@if multi-map-get( $spacing, margins positive huge ) == true {
  .m\+\+ { @include m\+\+ };
  .mt\+\+ { @include mt\+\+ };
  .mr\+\+ { @include mr\+\+ };
  .mb\+\+ { @include mb\+\+ };
  .ml\+\+ { @include ml\+\+ };
  .mh\+\+ { @include mh\+\+ };
  .mv\+\+ { @include mv\+\+ };
}

@if multi-map-get( $spacing, margins negative regular ) == true {
  .-m { @include -m };
  .-mt { @include -mt };
  .-mr { @include -mr };
  .-mb { @include -mb };
  .-ml { @include -ml };
  .-mh { @include -mh };
  .-mv { @include -mv };
}

@if multi-map-get( $spacing, margins negative tiny ) == true {
  .-m-- { @include -m-- };
  .-mt-- { @include -mt-- };
  .-mr-- { @include -mr-- };
  .-mb-- { @include -mb-- };
  .-ml-- { @include -ml-- };
  .-mh-- { @include -mh-- };
  .-mv-- { @include -mv-- };
}

@if multi-map-get( $spacing, margins negative small ) == true {
  .-m- { @include -m- };
  .-mt- { @include -mt- };
  .-mr- { @include -mr- };
  .-mb- { @include -mb- };
  .-ml- { @include -ml- };
  .-mh- { @include -mh- };
  .-mv- { @include -mv- };
}

@if multi-map-get( $spacing, margins negative large ) == true {
  .-m\+ { @include -m\+ };
  .-mt\+ { @include -mt\+ };
  .-mr\+ { @include -mr\+ };
  .-mb\+ { @include -mb\+ };
  .-ml\+ { @include -ml\+ };
  .-mh\+ { @include -mh\+ };
  .-mv\+ { @include -mv\+ };
}

@if multi-map-get( $spacing, margins negative huge ) == true {
  .-m\+\+ { @include -m\+\+ };
  .-mt\+\+ { @include -mt\+\+ };
  .-mr\+\+ { @include -mr\+\+ };
  .-mb\+\+ { @include -mb\+\+ };
  .-ml\+\+ { @include -ml\+\+ };
  .-mh\+\+ { @include -mh\+\+ };
  .-mv\+\+ { @include -mv\+\+ };
}

@if multi-map-get( $spacing, margins none ) == true {
  .m0 { @include m0 };
  .mt0 { @include mt0 };
  .mr0 { @include mr0 };
  .mb0 { @include mb0 };
  .ml0 { @include ml0 };
  .mh0 { @include mh0 };
  .mv0 { @include mv0 };
}

@if multi-map-get( $spacing, paddings regular ) == true {
  .p { @include p };
  .pt { @include pt };
  .pr { @include pr };
  .pb { @include pb };
  .pl { @include pl };
  .ph { @include ph };
  .pv { @include pv };
}

@if multi-map-get( $spacing, paddings tiny ) == true {
  .p-- { @include p-- };
  .pt-- { @include pt-- };
  .pr-- { @include pr-- };
  .pb-- { @include pb-- };
  .pl-- { @include pl-- };
  .ph-- { @include ph-- };
  .pv-- { @include pv-- };
}

@if multi-map-get( $spacing, paddings small ) == true {
  .p- { @include p- };
  .pt- { @include pt- };
  .pr- { @include pr- };
  .pb- { @include pb- };
  .pl- { @include pl- };
  .ph- { @include ph- };
  .pv- { @include pv- };
}

@if multi-map-get( $spacing, paddings large ) == true {
  .p\+ { @include p\+ };
  .pt\+ { @include pt\+ };
  .pr\+ { @include pr\+ };
  .pb\+ { @include pb\+ };
  .pl\+ { @include pl\+ };
  .ph\+ { @include ph\+ };
  .pv\+ { @include pv\+ };
}

@if multi-map-get( $spacing, paddings huge ) == true {
  .p\+\+ { @include p\+\+ };
  .pt\+\+ { @include pt\+\+ };
  .pr\+\+ { @include pr\+\+ };
  .pb\+\+ { @include pb\+\+ };
  .pl\+\+ { @include pl\+\+ };
  .ph\+\+ { @include ph\+\+ };
  .pv\+\+ { @include pv\+\+ };
}

@if multi-map-get( $spacing, paddings none ) == true {
  .p0 { @include p0 };
  .pt0 { @include pt0 };
  .pr0 { @include pr0 };
  .pb0 { @include pb0 };
  .pl0 { @include pl0 };
  .ph0 { @include ph0 };
  .pv0 { @include pv0 };
}