/***********************************************************************************
  MIXINS: SPACING UTILITIES
 ***********************************************************************************

  Margin and padding utility mixins.

 **********************************************************************************/

/**
  Margins: Positive: Regular
 */

@mixin u-m ( $important: false ) {

  @if ( $important ) {
    margin: $base-spacing-unit !important;
  }

  @else {
    margin: $base-spacing-unit;
  }

}


@mixin u-mt ( $important: false ) {

  @if ( $important ) {
    margin-top: $base-spacing-unit !important;
  }

  @else {
    margin-top: $base-spacing-unit;
  }

}


@mixin u-mr ( $important: false ) {

  @if ( $important ) {
    margin-right: $base-spacing-unit !important;
  }

  @else {
    margin-right: $base-spacing-unit;
  }

}


@mixin u-mb ( $important: false ) {

  @if ( $important ) {
    margin-bottom: $base-spacing-unit !important;
  }

  @else {
    margin-bottom: $base-spacing-unit;
  }

}


@mixin u-ml ( $important: false ) {

  @if ( $important ) {
    margin-left: $base-spacing-unit !important;
  }

  @else {
    margin-left: $base-spacing-unit;
  }

}


@mixin u-mh ( $important: false ) {

  @if ( $important ) {
    margin-right: $base-spacing-unit !important;
    margin-left: $base-spacing-unit !important;
  }

  @else {
    margin-right: $base-spacing-unit;
    margin-left: $base-spacing-unit;
  }

}


@mixin u-mv ( $important: false ) {

  @if ( $important ) {
    margin-top: $base-spacing-unit !important;
    margin-bottom: $base-spacing-unit !important;
  }

  @else {
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
  }

}





/**
  Margins: Positive: Tiny
 */

@mixin u-m-- ( $important: false ) {

  @if ( $important ) {
    margin: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin: ($base-spacing-unit / 4);
  }

}


@mixin u-mt-- ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin-top: ($base-spacing-unit / 4);
  }

}


@mixin u-mr-- ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin-right: ($base-spacing-unit / 4);
  }

}


@mixin u-mb-- ( $important: false ) {

  @if ( $important ) {
    margin-bottom: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin-bottom: ($base-spacing-unit / 4);
  }

}


@mixin u-ml-- ( $important: false ) {

  @if ( $important ) {
    margin-left: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin-left: ($base-spacing-unit / 4);
  }

}


@mixin u-mh-- ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit / 4) !important;
    margin-left: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin-right: ($base-spacing-unit / 4);
    margin-left: ($base-spacing-unit / 4);
  }

}


@mixin u-mv-- ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit / 4) !important;
    margin-bottom: ($base-spacing-unit / 4) !important;
  }

  @else {
    margin-top: ($base-spacing-unit / 4);
    margin-bottom: ($base-spacing-unit / 4);
  }

}





/**
  Margins: Positive: Small
 */

@mixin u-m- ( $important: false ) {

  @if ( $important ) {
    margin: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin: ($base-spacing-unit / 2);
  }

}


@mixin u-mt- ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin-top: ($base-spacing-unit / 2);
  }

}


@mixin u-mr- ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin-right: ($base-spacing-unit / 2);
  }

}


@mixin u-mb- ( $important: false ) {

  @if ( $important ) {
    margin-bottom: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin-bottom: ($base-spacing-unit / 2);
  }

}


@mixin u-ml- ( $important: false ) {

  @if ( $important ) {
    margin-left: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin-left: ($base-spacing-unit / 2);
  }

}


@mixin u-mh- ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit / 2) !important;
    margin-left: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin-right: ($base-spacing-unit / 2);
    margin-left: ($base-spacing-unit / 2);
  }

}


@mixin u-mv- ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit / 2) !important;
    margin-bottom: ($base-spacing-unit / 2) !important;
  }

  @else {
    margin-top: ($base-spacing-unit / 2);
    margin-bottom: ($base-spacing-unit / 2);
  }

}





/**
  Margins: Positive: Large
 */

@mixin u-m\+ ( $important: false ) {

  @if ( $important ) {
    margin: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin: ($base-spacing-unit * 2);
  }

}


@mixin u-mt\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin-top: ($base-spacing-unit * 2);
  }

}


@mixin u-mr\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin-right: ($base-spacing-unit * 2);
  }

}


@mixin u-mb\+ ( $important: false ) {

  @if ( $important ) {
    margin-bottom: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin-bottom: ($base-spacing-unit * 2);
  }

}


@mixin u-ml\+ ( $important: false ) {

  @if ( $important ) {
    margin-left: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin-left: ($base-spacing-unit * 2);
  }

}


@mixin u-mh\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit * 2) !important;
    margin-left: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin-right: ($base-spacing-unit * 2);
    margin-left: ($base-spacing-unit * 2);
  }

}


@mixin u-mv\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit * 2) !important;
    margin-bottom: ($base-spacing-unit * 2) !important;
  }

  @else {
    margin-top: ($base-spacing-unit * 2);
    margin-bottom: ($base-spacing-unit * 2);
  }

}





/**
  Margins: Positive: Huge
 */

@mixin u-m\+\+ ( $important: false ) {

  @if ( $important ) {
    margin: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin: ($base-spacing-unit * 4);
  }

}


@mixin u-mt\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin-top: ($base-spacing-unit * 4);
  }

}


@mixin u-mr\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin-right: ($base-spacing-unit * 4);
  }

}


@mixin u-mb\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-bottom: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin-bottom: ($base-spacing-unit * 4);
  }

}


@mixin u-ml\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-left: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin-left: ($base-spacing-unit * 4);
  }

}


@mixin u-mh\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: ($base-spacing-unit * 4) !important;
    margin-left: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin-right: ($base-spacing-unit * 4);
    margin-left: ($base-spacing-unit * 4);
  }

}


@mixin u-mv\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: ($base-spacing-unit * 4) !important;
    margin-bottom: ($base-spacing-unit * 4) !important;
  }

  @else {
    margin-top: ($base-spacing-unit * 4);
    margin-bottom: ($base-spacing-unit * 4);
  }

}





/**
  Margins: Negative: Regular
 */

@mixin u--m ( $important: false ) {

  @if ( $important ) {
    margin: -$base-spacing-unit !important;
  }

  @else {
    margin: -$base-spacing-unit;
  }

}


@mixin u--mt ( $important: false ) {

  @if ( $important ) {
    margin-top: -$base-spacing-unit !important;
  }

  @else {
    margin-top: -$base-spacing-unit;
  }

}


@mixin u--mr ( $important: false ) {

  @if ( $important ) {
    margin-right: -$base-spacing-unit !important;
  }

  @else {
    margin-right: -$base-spacing-unit;
  }

}


@mixin u--mb ( $important: false ) {

  @if ( $important ) {
    margin-bottom: -$base-spacing-unit !important;
  }

  @else {
    margin-bottom: -$base-spacing-unit;
  }

}


@mixin u--ml ( $important: false ) {

  @if ( $important ) {
    margin-left: -$base-spacing-unit !important;
  }

  @else {
    margin-left: -$base-spacing-unit;
  }

}


@mixin u--mh ( $important: false ) {

  @if ( $important ) {
    margin-right: -$base-spacing-unit !important;
    margin-left: -$base-spacing-unit !important;
  }

  @else {
    margin-right: -$base-spacing-unit;
    margin-left: -$base-spacing-unit;
  }

}


@mixin u--mv ( $important: false ) {

  @if ( $important ) {
    margin-top: -$base-spacing-unit !important;
    margin-bottom: -$base-spacing-unit !important;
  }

  @else {
    margin-top: -$base-spacing-unit;
    margin-bottom: -$base-spacing-unit;
  }

}





/**
  Margins: Negative: Tiny
 */

@mixin u--m-- ( $important: false ) {

  @if ( $important ) {
    margin: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin: (-$base-spacing-unit / 4);
  }

}


@mixin u--mt-- ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit / 4);
  }

}


@mixin u--mr-- ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit / 4);
  }

}


@mixin u--mb-- ( $important: false ) {

  @if ( $important ) {
    margin-bottom: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin-bottom: (-$base-spacing-unit / 4);
  }

}


@mixin u--ml-- ( $important: false ) {

  @if ( $important ) {
    margin-left: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin-left: (-$base-spacing-unit / 4);
  }

}


@mixin u--mh-- ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit / 4) !important;
    margin-left: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit / 4);
    margin-left: (-$base-spacing-unit / 4);
  }

}


@mixin u--mv-- ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit / 4) !important;
    margin-bottom: (-$base-spacing-unit / 4) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit / 4);
    margin-bottom: (-$base-spacing-unit / 4);
  }

}





/**
  Margins: Negative: Small
 */

@mixin u--m- ( $important: false ) {

  @if ( $important ) {
    margin: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin: (-$base-spacing-unit / 2);
  }

}


@mixin u--mt- ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit / 2);
  }

}


@mixin u--mr- ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit / 2);
  }

}


@mixin u--mb- ( $important: false ) {

  @if ( $important ) {
    margin-bottom: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin-bottom: (-$base-spacing-unit / 2);
  }

}


@mixin u--ml- ( $important: false ) {

  @if ( $important ) {
    margin-left: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin-left: (-$base-spacing-unit / 2);
  }

}


@mixin u--mh- ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit / 2) !important;
    margin-left: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit / 2);
    margin-left: (-$base-spacing-unit / 2);
  }

}


@mixin u--mv- ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit / 2) !important;
    margin-bottom: (-$base-spacing-unit / 2) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit / 2);
    margin-bottom: (-$base-spacing-unit / 2);
  }

}





/**
  Margins: Negative: Large
 */

@mixin u--m\+ ( $important: false ) {

  @if ( $important ) {
    margin: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin: (-$base-spacing-unit * 2);
  }

}


@mixin u--mt\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit * 2);
  }

}


@mixin u--mr\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit * 2);
  }

}


@mixin u--mb\+ ( $important: false ) {

  @if ( $important ) {
    margin-bottom: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin-bottom: (-$base-spacing-unit * 2);
  }

}


@mixin u--ml\+ ( $important: false ) {

  @if ( $important ) {
    margin-left: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin-left: (-$base-spacing-unit * 2);
  }

}


@mixin u--mh\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit * 2) !important;
    margin-left: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit * 2);
    margin-left: (-$base-spacing-unit * 2);
  }

}


@mixin u--mv\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit * 2) !important;
    margin-bottom: (-$base-spacing-unit * 2) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit * 2);
    margin-bottom: (-$base-spacing-unit * 2);
  }

}





/**
  Margins: Negative: Huge
 */

@mixin u--m\+\+ ( $important: false ) {

  @if ( $important ) {
    margin: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin: (-$base-spacing-unit * 4);
  }

}


@mixin u--mt\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit * 4);
  }

}


@mixin u--mr\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit * 4);
  }

}


@mixin u--mb\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-bottom: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin-bottom: (-$base-spacing-unit * 4);
  }

}


@mixin u--ml\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-left: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin-left: (-$base-spacing-unit * 4);
  }

}


@mixin u--mh\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-right: (-$base-spacing-unit * 4) !important;
    margin-left: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin-right: (-$base-spacing-unit * 4);
    margin-left: (-$base-spacing-unit * 4);
  }

}


@mixin u--mv\+\+ ( $important: false ) {

  @if ( $important ) {
    margin-top: (-$base-spacing-unit * 4) !important;
    margin-bottom: (-$base-spacing-unit * 4) !important;
  }

  @else {
    margin-top: (-$base-spacing-unit * 4);
    margin-bottom: (-$base-spacing-unit * 4);
  }

}





/**
  Margins: None
 */

@mixin u-m0 ( $important: false ) {

  @if ( $important ) {
    margin: 0 !important;
  }

  @else {
    margin: 0;
  }

}


@mixin u-mt0 ( $important: false ) {

  @if ( $important ) {
    margin-top: 0 !important;
  }

  @else {
    margin-top: 0;
  }

}


@mixin u-mr0 ( $important: false ) {

  @if ( $important ) {
    margin-right: 0 !important;
  }

  @else {
    margin-right: 0;
  }

}


@mixin u-mb0 ( $important: false ) {

  @if ( $important ) {
    margin-bottom: 0 !important;
  }

  @else {
    margin-bottom: 0;
  }

}


@mixin u-ml0 ( $important: false ) {

  @if ( $important ) {
    margin-left: 0 !important;
  }

  @else {
    margin-left: 0;
  }

}


@mixin u-mh0 ( $important: false ) {

  @if ( $important ) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  @else {
    margin-right: 0;
    margin-left: 0;
  }

}


@mixin u-mv0 ( $important: false ) {

  @if ( $important ) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  @else {
    margin-top: 0;
    margin-bottom: 0;
  }

}





/**
  Paddings: Regular
 */

@mixin u-p ( $important: false ) {

  @if ( $important ) {
    padding: $base-spacing-unit !important;
  }

  @else {
    padding: $base-spacing-unit;
  }

}


@mixin u-pt ( $important: false ) {

  @if ( $important ) {
    padding-top: $base-spacing-unit !important;
  }

  @else {
    padding-top: $base-spacing-unit;
  }

}


@mixin u-pr ( $important: false ) {

  @if ( $important ) {
    padding-right: $base-spacing-unit !important;
  }

  @else {
    padding-right: $base-spacing-unit;
  }

}


@mixin u-pb ( $important: false ) {

  @if ( $important ) {
    padding-bottom: $base-spacing-unit !important;
  }

  @else {
    padding-bottom: $base-spacing-unit;
  }

}


@mixin u-pl ( $important: false ) {

  @if ( $important ) {
    padding-left: $base-spacing-unit !important;
  }

  @else {
    padding-left: $base-spacing-unit;
  }

}


@mixin u-ph ( $important: false ) {

  @if ( $important ) {
    padding-right: $base-spacing-unit !important;
    padding-left: $base-spacing-unit !important;
  }

  @else {
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
  }

}


@mixin u-pv ( $important: false ) {

  @if ( $important ) {
    padding-top: $base-spacing-unit !important;
    padding-bottom: $base-spacing-unit !important;
  }

  @else {
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
  }

}





/**
  Paddings: Tiny
 */

@mixin u-p-- ( $important: false ) {

  @if ( $important ) {
    padding: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding: ($base-spacing-unit / 4);
  }

}


@mixin u-pt-- ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding-top: ($base-spacing-unit / 4);
  }

}


@mixin u-pr-- ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding-right: ($base-spacing-unit / 4);
  }

}


@mixin u-pb-- ( $important: false ) {

  @if ( $important ) {
    padding-bottom: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding-bottom: ($base-spacing-unit / 4);
  }

}


@mixin u-pl-- ( $important: false ) {

  @if ( $important ) {
    padding-left: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding-left: ($base-spacing-unit / 4);
  }

}


@mixin u-ph-- ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit / 4) !important;
    padding-left: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding-right: ($base-spacing-unit / 4);
    padding-left: ($base-spacing-unit / 4);
  }

}


@mixin u-pv-- ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit / 4) !important;
    padding-bottom: ($base-spacing-unit / 4) !important;
  }

  @else {
    padding-top: ($base-spacing-unit / 4);
    padding-bottom: ($base-spacing-unit / 4);
  }

}





/**
  Paddings: Small
 */

@mixin u-p- ( $important: false ) {

  @if ( $important ) {
    padding: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding: ($base-spacing-unit / 2);
  }

}


@mixin u-pt- ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding-top: ($base-spacing-unit / 2);
  }

}


@mixin u-pr- ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding-right: ($base-spacing-unit / 2);
  }

}


@mixin u-pb- ( $important: false ) {

  @if ( $important ) {
    padding-bottom: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding-bottom: ($base-spacing-unit / 2);
  }

}


@mixin u-pl- ( $important: false ) {

  @if ( $important ) {
    padding-left: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding-left: ($base-spacing-unit / 2);
  }

}


@mixin u-ph- ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit / 2) !important;
    padding-left: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding-right: ($base-spacing-unit / 2);
    padding-left: ($base-spacing-unit / 2);
  }

}


@mixin u-pv- ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit / 2) !important;
    padding-bottom: ($base-spacing-unit / 2) !important;
  }

  @else {
    padding-top: ($base-spacing-unit / 2);
    padding-bottom: ($base-spacing-unit / 2);
  }

}





/**
  Paddings: Large
 */

@mixin u-p\+ ( $important: false ) {

  @if ( $important ) {
    padding: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding: ($base-spacing-unit * 2);
  }

}


@mixin u-pt\+ ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding-top: ($base-spacing-unit * 2);
  }

}


@mixin u-pr\+ ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding-right: ($base-spacing-unit * 2);
  }

}


@mixin u-pb\+ ( $important: false ) {

  @if ( $important ) {
    padding-bottom: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding-bottom: ($base-spacing-unit * 2);
  }

}


@mixin u-pl\+ ( $important: false ) {

  @if ( $important ) {
    padding-left: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding-left: ($base-spacing-unit * 2);
  }

}


@mixin u-ph\+ ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit * 2) !important;
    padding-left: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding-right: ($base-spacing-unit * 2);
    padding-left: ($base-spacing-unit * 2);
  }

}


@mixin u-pv\+ ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit * 2) !important;
    padding-bottom: ($base-spacing-unit * 2) !important;
  }

  @else {
    padding-top: ($base-spacing-unit * 2);
    padding-bottom: ($base-spacing-unit * 2);
  }

}





/**
  Paddings: Huge
 */

@mixin u-p\+\+ ( $important: false ) {

  @if ( $important ) {
    padding: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding: ($base-spacing-unit * 4);
  }

}


@mixin u-pt\+\+ ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding-top: ($base-spacing-unit * 4);
  }

}


@mixin u-pr\+\+ ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding-right: ($base-spacing-unit * 4);
  }

}


@mixin u-pb\+\+ ( $important: false ) {

  @if ( $important ) {
    padding-bottom: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding-bottom: ($base-spacing-unit * 4);
  }

}


@mixin u-pl\+\+ ( $important: false ) {

  @if ( $important ) {
    padding-left: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding-left: ($base-spacing-unit * 4);
  }

}


@mixin u-ph\+\+ ( $important: false ) {

  @if ( $important ) {
    padding-right: ($base-spacing-unit * 4) !important;
    padding-left: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding-right: ($base-spacing-unit * 4);
    padding-left: ($base-spacing-unit * 4);
  }

}


@mixin u-pv\+\+ ( $important: false ) {

  @if ( $important ) {
    padding-top: ($base-spacing-unit * 4) !important;
    padding-bottom: ($base-spacing-unit * 4) !important;
  }

  @else {
    padding-top: ($base-spacing-unit * 4);
    padding-bottom: ($base-spacing-unit * 4);
  }

}





/**
  Paddings: None
 */

@mixin u-p0 ( $important: false ) {

  @if ( $important ) {
    padding: 0 !important;
  }

  @else {
    padding: 0;
  }

}


@mixin u-pt0 ( $important: false ) {

  @if ( $important ) {
    padding-top: 0 !important;
  }

  @else {
    padding-top: 0;
  }

}


@mixin u-pr0 ( $important: false ) {

  @if ( $important ) {
    padding-right: 0 !important;
  }

  @else {
    padding-right: 0;
  }

}


@mixin u-pb0 ( $important: false ) {

  @if ( $important ) {
    padding-bottom: 0 !important;
  }

  @else {
    padding-bottom: 0;
  }

}


@mixin u-pl0 ( $important: false ) {

  @if ( $important ) {
    padding-left: 0 !important;
  }

  @else {
    padding-left: 0;
  }

}


@mixin u-ph0 ( $important: false ) {

  @if ( $important ) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  @else {
    padding-right: 0;
    padding-left: 0;
  }

}


@mixin u-pv0 ( $important: false ) {

  @if ( $important ) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  @else {
    padding-top: 0;
    padding-bottom: 0;
  }

}