/***********************************************************************************
  OBJECT: FLAG
 ***********************************************************************************

  Very similar to the media object, however it give us control over the vertical
  alignments of the text and image.

 **********************************************************************************/

@mixin flag {
  display:table;
  width:100%;
}

  @mixin flag__fig {
    display:table-cell;
    vertical-align:middle;
    padding-right:$base-spacing-unit;

    > img {
      display:block;
      max-width:none;
    }
  }

  @mixin flag__body {
    display:table-cell;
    vertical-align:middle;
    width:100%;
  }

@mixin flag--small($flag__fig: flag__fig, $flag--rev: flag--rev) {
  > .#{$flag__fig} {
    padding-right:$base-spacing-unit / 2;
  }

  @if multi-map-get( $objects, flag rev ) == true or $flag--rev {
    &.#{$flag__rev} {
      > .#{$flag__fig} {
        padding-right:0;
        padding-left:$base-spacing-unit / 2;
      }
    }
  }
}

@mixin flag--large($flag__fig: flag__fig, $flag--rev: flag--rev) {
  > .#{$flag__fig} {
    padding-right:$base-spacing-unit * 2;
  }

  @if multi-map-get( $objects, flag rev ) == true or $flag--rev {
    &.#{$flag__rev} {
      > .#{$flag__fig} {
        padding-right:0;
        padding-left:$base-spacing-unit * 2;
      }
    }
  }
}

@mixin flag--rev($flag__fig: flag__fig, $flag__body: flag__body) {
  direction:rtl;

  > .#{$flag__fig},
  > .#{$flag__body} {
    direction:ltr;
  }

  > .#{$flag__fig} {
    padding-right:0;
    padding-left:$base-spacing-unit;
  }
}

@mixin flag--flush($flag__fig: flag__fig) {
  > .#{$flag__fig} {
    padding-right:0;
    padding-left:0;
  }
}

@mixin flag--top($flag__fig: flag__fig, $flag__body: flag__body) {
  .#{$flag__fig},
  .#{$flag__body} {
    vertical-align:top;
  }
}

@mixin flag--bottom($flag__fig: flag__fig, $flag__body: flag__body) {
  .#{$flag__fig},
  .#{$flag__body} {
    vertical-align:bottom;
  }
}

@if multi-map-get( $objects, flag regular ) == true {

  .flag { @include flag; }

    .flag__fig { @include flag__fig; }

    .flag__body { @include flag__body; }

}

@if multi-map-get( $objects, flag small ) == true {

  .flag--small { @include flag--small; }

}

@if multi-map-get( $objects, flag large ) == true {

  .flag--large { @include flag--large; }

}

@if multi-map-get( $objects, flag rev ) == true {

  .flag--rev { @include flag--rev; }

}

@if multi-map-get( $objects, flag flush ) == true {

  .flag--flush { @include flag--flush; }

}

@if multi-map-get( $objects, flag top ) == true {

  .flag--top { @include flag--top; }

}

@if multi-map-get( $objects, flag bottom ) == true {

  .flag--bottom { @include flag--bottom; }

}