@mixin flag {
  display:table;
  width:100%;
}

  @mixin flag__fig {
    display:table-cell;
    vertical-align:middle;
    padding-right:$base-spacing-unit;;

    > img {
      display:block;
      max-width:none;
    }
  }

  @mixin flag__body {
    display:table-cell;
    vertical-align:middle;
    width:100%;
  }

@mixin flag--rev($flag__fig: flag__fig, $flag__body: flag__body) {
  direction:rtl;

  > .#{$flag__fig},
  > .#{$flag__body} {
    direction:ltr;
  }

  > .#{$flag__fig} {
    padding-right:0;
    padding-left:$base-spacing-unit;;
  }
}

@mixin flag--top($flag__fig: flag__fig, $flag__body: flag__body) {
  .#{$flag__fig},
  .#{$flag__body} {
    vertical-align:top;
  }
}

@mixin flag--bottom($flag__fig: flag__fig, $flag__body: flag__body) {
  .#{$flag__fig},
  .#{$flag__body} {
    vertical-align:bottom;
  }
}

@if map-get( $objects, flag ) == true {

  .flag { @include flag; }

    .flag__fig { @include flag__fig; }

    .flag__body { @include flag__body; }

  .flag--rev { @include flag--rev; }

  .flag--top { @include flag--top; }

  .flag--bottom { @include flag--bottom; }

}