@mixin flyout($prefix: '') {
  position:relative;
  overflow:hidden;

  &:hover {
    overflow:visible;

    > .#{$prefix}flyout__content {
      left:0;
    }
  }
}

  @mixin flyout__content {
    position:absolute;
    top:100%;
    left:-99999px;
  }

@mixin flyout--alt($prefix: '') {
  &:hover {
    .#{$prefix}flyout__content {
      top:0;
      left:100%;
    }
  }
}

@if $use-flyout == true {

  .flyout { @include flyout; }

    .flyout__content { @include flyout__content; }

  .flyout--alt { @include flyout--alt; }

}