@mixin grid {
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-$grid-gutter;
  margin-bottom:-$grid-gutter;
}

  @mixin grid__item {
    display:inline-block;
    padding-left:$grid-gutter;
    padding-bottom:$grid-gutter;
    vertical-align:top;

    @if $mobile-first == true {
      width:100%;
    }
  }

@mixin grid--rev($grid__item: grid__item) {
  direction:rtl;
  text-align:left;

  > .#{$grid__item} {
    direction:ltr;
    text-align:left;
  }
}

@mixin grid--full($grid__item: grid__item) {
  margin-left:0;
  margin-bottom:0;

  > .#{$grid__item} {
    padding-left:0;
    padding-bottom:0;
  }
}

@mixin grid--narrow($grid__item: grid__item) {
  margin-left:-($grid-gutter / 2);
  margin-bottom:-($grid-gutter / 2);

  > .#{$grid__item} {
    padding-left:($grid-gutter / 2);
    padding-bottom:($grid-gutter / 2);
  }
}

@mixin grid--wide($grid__item: grid__item) {
  margin-left:-($grid-gutter * 2);
  margin-bottom:-($grid-gutter * 2);

  > .#{$grid__item} {
    padding-left:($grid-gutter * 2);
    padding-bottom:($grid-gutter * 2);
  }
}

@mixin grid--right($grid__item: grid__item) {
  text-align:right;

  > .#{$grid__item} {
    text-align:left;
  }
}

@mixin grid--center($grid__item: grid__item) {
  text-align:center;

  > .#{$grid__item} {
    text-align:left;
  }
}

@mixin grid--middle($grid__item: grid__item) {
  > .#{$grid__item} {
    vertical-align:middle;
  }
}

@mixin grid--bottom($grid__item: grid__item) {
  > .#{$grid__item} {
    vertical-align:bottom;
  }
}

@if map-get( $objects, grid ) == true {

  .grid { @include grid; }

    .grid__item { @include grid__item; }

  .grid--rev { @include grid--rev; }

  .grid--full { @include grid--full; }

  .grid--narrow { @include grid--narrow; }

  .grid--wide { @include grid--wide; }

  .grid--right { @include grid--right; }

  .grid--center { @include grid--center; }

  .grid--middle { @include grid--middle; }

  .grid--bottom { @include grid--bottom; }

}