/***********************************************************************************
  OBJECT: GRID
 ***********************************************************************************

  Grid system.

 **********************************************************************************/

@mixin grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -$grid-gutter;
  margin-bottom: -$grid-gutter;
}


  @mixin grid__item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-left: $grid-gutter;
    padding-bottom: $grid-gutter;
    vertical-align: top;
    width: 100%;
  }


@mixin grid--small ( $grid__item: '.grid__item' ) {

  margin-left: -($grid-gutter / 2);
  margin-bottom: -($grid-gutter / 2);

  > #{$grid__item} {
    padding-left: ($grid-gutter / 2);
    padding-bottom: ($grid-gutter / 2);
  }

}


@mixin grid--large ( $grid__item: '.grid__item' ) {

  margin-left: -($grid-gutter * 2);
  margin-bottom: -($grid-gutter * 2);

  > #{$grid__item} {
    padding-left: ($grid-gutter * 2);
    padding-bottom: ($grid-gutter * 2);
  }

}


@mixin grid--rev ( $grid__item: '.grid__item' ) {

  direction: rtl;
  text-align: left;

  > #{$grid__item} {
    direction: ltr;
    text-align: left;
  }

}

@mixin grid--flush ( $grid__item: '.grid__item' ) {

  margin-left: 0;
  margin-bottom: 0;

  > #{$grid__item} {
    padding-left: 0;
    padding-bottom: 0;
  }

}


@mixin grid--middle ( $grid__item: '.grid__item' ) {
  > #{$grid__item} {
    vertical-align: middle;
  }
}


@mixin grid--bottom ( $grid__item: '.grid__item' ) {
  > #{$grid__item} {
    vertical-align: bottom;
  }
}


@mixin grid--right ( $grid__item: '.grid__item' ) {

  text-align: right;

  > #{$grid__item} {
    text-align: left;
  }

}


@mixin grid--center ( $grid__item: '.grid__item' ) {

  text-align: center;

  > #{$grid__item} {
    text-align: left;
  }

}


@if ( map-deep-get( $objects, grid regular ) ) {

  .grid { @include grid; }

    .grid__item { @include grid__item; }

}


@if ( map-deep-get( $objects, grid small ) ) {

  .grid--small { @include grid--small; }

}


@if ( map-deep-get( $objects, grid large ) ) {

  .grid--large { @include grid--large; }

}


@if ( map-deep-get( $objects, grid rev ) ) {

  .grid--rev { @include grid--rev; }

}


@if ( map-deep-get( $objects, grid flush ) ) {

  .grid--flush { @include grid--flush; }

}


@if ( map-deep-get( $objects, grid middle ) ) {

  .grid--middle { @include grid--middle; }

}


@if ( map-deep-get( $objects, grid bottom ) ) {

  .grid--bottom { @include grid--bottom; }

}


@if ( map-deep-get( $objects, grid right ) ) {

  .grid--right { @include grid--right; }

}


@if ( map-deep-get( $objects, grid center ) ) {

  .grid--center { @include grid--center; }

}