@mixin media {
  display:block;

  &:after {
    content:'';
    display:table;
    clear:both;
  }
}

  @mixin media__fig {
    margin-right:$base-spacing-unit;
    float:left;

    img {
      display:block;
    }
  }

  @mixin media__body {
    overflow:hidden;

    &,
    > :last-child {
      margin-bottom:0;
    }
  }

@mixin media--rev($media__fig: media__fig) {
  > .#{$media__fig} {
    margin-right:0;
    margin-left:$base-spacing-unit;
    float:right;
  }
}

@if $use-media == true {

  .media { @include media; }

    .media__fig { @include media__fig; }

    .media__body { @include media__body; }

  .media--rev { @include media--rev; }

}