@mixin split {
  margin-left:0;
  text-align:right;
  list-style:none;
}

  @mixin split__title {
    text-align:left;
    float:left;
    clear:left;
  }

@if map-get( $objects, split ) == true {

  .split { @include split; }

    .split__title { @include split__title; }

}