@if $use-sprite == true {

  .sprite {
    @include ir;
    display:inline-block;
    line-height:1;
    position:relative;
    vertical-align:middle;
    zoom:1;
    width: 16px;
    height:16px;
    top:-1px;
  }

}