/***********************************************************************************
  OBJECT: SPRITE
 ***********************************************************************************

  Turn elements into icons with a background image and no text.

 **********************************************************************************/

@mixin sprite {
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  display:inline-block;
  line-height:1;
  vertical-align:middle;
  width:16px;
  height:16px;
}

@if map-get( $objects, sprite ) == true {

  .sprite { @include sprite; }

}