/***********************************************************************************
  MIXINS: HELPERS
 ***********************************************************************************

  Helper mixins.

 **********************************************************************************/

/**
  Accessible alternative to `display:none`.
 */
@mixin accessibility {
  border:0 !important;
  clip:rect(0 0 0 0) !important;
  height:1px !important;
  margin:-1px !important;
  overflow:hidden !important;
  padding:0 !important;
  position:absolute !important;
  width:1px !important;
}

/**
  Disable pointer events.
 */
@mixin inaccessible {
  pointer-events:none !important;
}

/**
  Clearfix.
 */
@mixin cf {
  &:after {
    content:'' !important;
    display:table !important;
    clear:both !important;
  }
}

/**
  Image replacement.
 */
@mixin ir {
  text-indent:100% !important;
  white-space:nowrap !important;
  overflow:hidden !important;
}