/***********************************************************************************
  MIXIN: MEDIA QUERY
 ***********************************************************************************

  Output media query with dynamic content and query declaration, the declarations
  which can be used are defined in `$breakpoints` (located in `_config.scss`).
  This also comes with optional support for IE8 and below, set `$lt-ie-9-support`
  as `true` and it will output the CSS content inside the media query in the
  `lt-ie-9.min.css` file stripping the media query wrapped around it.

  Usage:

  .element {
    @include media-query(L) {
      background:red;
    }
  }

 **********************************************************************************/

@mixin media-query($media-query, $lt-ie-9-support: false) {
  @if map-has-key($breakpoints, $media-query) {
    @if $is-lt-ie-9-stylesheet == false {
      @media #{map-get($breakpoints, $media-query)} {
        @content;
      }
    }
    @else {
      @if $lt-ie-9-support {
        @content;
      }
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$media-query}`.";
  }
}