/***********************************************************************************
  FUNCTION: MULTI MAP GET
 ***********************************************************************************

  Like `map-get` but can handle multi-dimensional maps.

  Usage:

  $colors: (
    element: (
      primary: red
    )
  );

  .element {
    color: map-deep-get( $colors, element primary );
  }

 **********************************************************************************/

@function map-deep-get ( $map, $keys ) {

  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);

  @if ($length > 1 and $value) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return map-deep-get($value, $rest)
  }

  @else {
    @return $value;
  }

}