/***********************************************************************************
  BORDER BOX
 **********************************************************************************/

$global-border-box: true;





/***********************************************************************************
  BASE
 **********************************************************************************/

$base-font-size: 16px;
$base-line-height: 24px;

$base-font-family: sans-serif;

$base-spacing-unit: $base-line-height;

$base-background-color: #FFF;
$base-text-color: #000;





/***********************************************************************************
  FONT SIZES
 **********************************************************************************/

$giga-size: 96px;
$mega-size: 72px;
$kilo-size: 48px;

$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: 16px;
$h6-size: 14px;





/***********************************************************************************
  OBJECTS
 ***********************************************************************************

  Select which objects and object variations to enable.

 **********************************************************************************/

$objects: (

  grid: (
    regular: false,
    small:   false,
    large:   false,
    rev:     false,
    flush:   false,
    middle:  false,
    bottom:  false,
    right:   false,
    center:  false
  ),

  flyout: (
    regular: false,
    alt:     false
  ),

  media: (
    regular: false,
    small:   false,
    large:   false,
    rev:     false,
    flush:   false
  ),

  flag: (
    regular: false,
    small:   false,
    large:   false,
    rev:     false,
    flush:   false,
    top:     false,
    bottom:  false
  ),

  nav: false,

  sprite: false,

);





/***********************************************************************************
  RESPONSIVE
 **********************************************************************************/

$breakpoint--S:  480px;
$breakpoint--M:  768px;
$breakpoint--L:  1024px;
$breakpoint--XL: 1140px;

$breakpoints: (

  'S-up':    '(min-width: #{$breakpoint--S})', // S and higher
  'S-down':  '(max-width: #{$breakpoint--S - 1px})', // Below S
  'S':       '(min-width: #{$breakpoint--S}) and (max-width: #{$breakpoint--M - 1px})', // Just S

  'M-up':    '(min-width: #{$breakpoint--M})', // M and higher
  'M-down':  '(max-width: #{$breakpoint--M - 1px})', // Below M
  'M':       '(min-width: #{$breakpoint--M}) and (max-width: #{$breakpoint--L - 1px})', // Just M

  'L-up':    '(min-width: #{$breakpoint--L})', // L and higher
  'L-down':  '(max-width: #{$breakpoint--L - 1px})', // Below L
  'L':       '(min-width: #{$breakpoint--L}) and (max-width: #{$breakpoint--XL - 1px})', // Just L

  'XL-up':   '(min-width: #{$breakpoint--XL})', // XL and higher
  'XL-down': '(max-width: #{$breakpoint--XL - 1px})', // Below XL

);





/***********************************************************************************
  GRID
 ***********************************************************************************

  Use `$custom-grid-widths` to define custom grid widths (ones not already defined
  in `generic/_grid-width-builder.scss`), usage:

  $custom-grid-widths: (

    width-class: 200px,

  );

  Use `$grid-widths-to-output` to output grid width classes (breakpoint specific
  classes too) in the CSS, usage:

  $grid-widths-to-output: (

    '1/5',
    'M-down--1/2',
    width-class,
    XL-up--width-class,

  );

 **********************************************************************************/

$grid-gutter: $base-spacing-unit;

$custom-grid-widths: (
);

$grid-widths-to-output: (
);





/***********************************************************************************
  SPACING
 ***********************************************************************************

  Select which spacing helper classes to enable.

 **********************************************************************************/

$spacing: (

  margins: (
    positive: (
      regular: false,
      tiny:    false,
      small:   false,
      large:   false,
      huge:    false,
    ),

    negative: (
      regular: false,
      tiny:    false,
      small:   false,
      large:   false,
      huge:    false,
    ),

    none: false,
  ),

  paddings: (
    regular: false,
    tiny:    false,
    small:   false,
    large:   false,
    huge:    false,

    none:    false,
  ),

);





/***********************************************************************************
  CUSTOM
 **********************************************************************************/

// $custom-variable: true