/***********************************************************************************
  BORDER BOX
 **********************************************************************************/

$global-border-box: true;





/***********************************************************************************
  BASE
 **********************************************************************************/

$base-font-size: 16px;
$base-line-height: 24px;

$base-font-family: sans-serif;

$base-spacing-unit: $base-line-height;

$base-background-color: #FFF;
$base-text-color: #000;





/***********************************************************************************
  RESPONSIVE
 **********************************************************************************/

$breakpoint--S:  480px;
$breakpoint--M:  768px;
$breakpoint--L:  1024px;
$breakpoint--XL: 1140px;

$breakpoints: (

  'S-up':    '(min-width: #{$breakpoint--S})', // S and higher
  'S-down':  '(max-width: #{$breakpoint--S - 1px})', // Below S
  'S':       '(min-width: #{$breakpoint--S}) and (max-width: #{$breakpoint--M - 1px})', // Just S

  'M-up':    '(min-width: #{$breakpoint--M})', // M and higher
  'M-down':  '(max-width: #{$breakpoint--M - 1px})', // Below M
  'M':       '(min-width: #{$breakpoint--M}) and (max-width: #{$breakpoint--L - 1px})', // Just M

  'L-up':    '(min-width: #{$breakpoint--L})', // L and higher
  'L-down':  '(max-width: #{$breakpoint--L - 1px})', // Below L
  'L':       '(min-width: #{$breakpoint--L}) and (max-width: #{$breakpoint--XL - 1px})', // Just L

  'XL-up':   '(min-width: #{$breakpoint--XL})', // XL and higher
  'XL-down': '(max-width: #{$breakpoint--XL - 1px})', // Below XL

);





/***********************************************************************************
  OBJECTS
 ***********************************************************************************

  Select which objects and object variations to enable.

 **********************************************************************************/

$objects: (

  grid: (
    regular: false,
    small:   false,
    large:   false,
    rev:     false,
    flush:   false,
    middle:  false,
    bottom:  false,
    right:   false,
    center:  false
  ),

  flyout: (
    regular: false,
    alt:     false
  ),

  media: (
    regular: false,
    small:   false,
    large:   false,
    rev:     false,
    flush:   false
  ),

  flag: (
    regular: false,
    small:   false,
    large:   false,
    rev:     false,
    flush:   false,
    top:     false,
    bottom:  false
  ),

  nav: false,

  wrapper: false,

  sprite: false,

);





/***********************************************************************************
  UTILITIES: WIDTHS
 ***********************************************************************************

  Select which width utility classes to output, usage:

  $widths: (
    'u-1/5',
    'u-1/2--M-down'
  );

 **********************************************************************************/

$widths: (
);





/***********************************************************************************
  UTILITIES: SPACING
 ***********************************************************************************

  Select which spacing utility classes to output.

 **********************************************************************************/

$spacing: (

  margins: (
    positive: (
      regular: false,
      tiny:    false,
      small:   false,
      large:   false,
      huge:    false,
    ),

    negative: (
      regular: false,
      tiny:    false,
      small:   false,
      large:   false,
      huge:    false,
    ),

    none: false,
  ),

  paddings: (
    regular: false,
    tiny:    false,
    small:   false,
    large:   false,
    huge:    false,

    none:    false,
  ),

);





/***********************************************************************************
  CUSTOM
 **********************************************************************************/

// $custom-variable: true