/***********************************************************************************
  MIXIN: MEDIA QUERY
 ***********************************************************************************

  Output media query with dynamic content and query declaration, the declarations
  which can be used are defined in `$breakpoints` (located in `_config.scss`).
  This also comes with optional support for IE8 and below, set `$lt-ie-9-support`
  as `true` and it will output the CSS content inside the media query in the
  `lt-ie-9.min.css` file stripping the media query wrapped around it.

  Usage:

  .element {
    @include media-query(L) {
      background:red;
    }
  }

 **********************************************************************************/

@mixin media-query($media-query, $lt-ie-9-support: false) {
  @if $is-lt-ie-9-stylesheet == false {
    @each $name, $declaration in $breakpoints {
      @if $media-query == $name and $declaration {
        @media only screen and #{$declaration} {
          @content;
        }
      }
    }
  }
  @if $lt-ie-9-support == true and $is-lt-ie-9-stylesheet == true {
    @content;
  }
}